@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');
:root{
    --green:#27ae60;
    --black:#192a56;
    --lightcolor:#666;
    --box-shadow:0 0.5rem 1.5rem rgba(0,0,0,0.1);
}
*{
    font-family: 'K2D', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;

}

section{
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
header .flex .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

header .flex .logo i{
    color: var(--green);
}

header .flex .navbar a{
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--lightcolor);
}

header .flex .navbar a.active,
header .flex .navbar a:hover{
    color: white;
    background: var(--green);
}

header .flex .icons i,
header .flex .icons a{
    cursor: pointer;
    margin-left: 0.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .flex .icons i:hover,
header .flex .icons a:hover{
    color: white;
    background: var(--green);
    transform: rotate(300deg);
}
 
header .flex .icons #menu-bars{
    display: none;
}
    
/*Search Section*/
#search-form{
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

}
#search-form.active{
    top: 0;
}
#search-form #search-box{
    width: 50rem;
    border-bottom: 0.1rem solid white;
    padding: 1rem 0;
    color: white;
    font-size: 3rem;
    text-transform: none;
    background: none;

}
 
#search-form #search-box::placeholder{
    color: white;
}
#search-form label{
    color: white;
    cursor: pointer;
    font-size: 3rem;
}

#seaech-fotm label:hover{
    color: var(--green);
}

#search-form #close{
    position: absolute;
    color: white;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
}




/*Media Query*/
@media(max-width:768px){
    header .flex .icons #menu-bars{
        display: inline-block;
    }
    header .flex .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: whitesmoke;
        border-top: 0.1rem solid red;
        border-bottom: 0.1rem solid palevioletred;
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        /*แสดงตัวที่ซ่อน*/
    }
    header .flex .navbar.active{
        clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
    }
    header .flex .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }
}